<div class="wrapper">
    <nav id="sidebar">
      <div class="sidebar-header">
        <img src="assets/MyArk.png" alt="Site Icon" class="site-icon">
        <h3 class="top-banner-text">My Ark</h3>
      </div>
      <ul class="list-unstyled components">
        <li *ngFor="let item of items" [class.active]="item === activeItem" (click)="onMenuItemClick(item)">
          <a href="javascript:void(0)">
            <i [class]="item.icon"></i> {{ item.label }}
          </a>
        </li>
      </ul>
    </nav>
    <div id="content">
      <div class="content-display">
        <ng-template appDynamicTab></ng-template>
      </div>
    </div>
  </div>
  