.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #f8f9fa;
  color: #7386D5;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #ffffff;
  display: flex;
  align-items: center;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #7386D5;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #7386D5;
  text-decoration: none;
}

#sidebar ul li a:hover {
  color: #EB3582;
  background: #ffffff;
}

#sidebar ul li.active > a {
  color: #EB3582;
  background: #ffffff;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.content-display {
  width: 100%;
  padding: 20px;
  background: #f1f1f1;
  min-height: 100vh;
}

.banner {
  background-color: #f8f9fa;
  padding: 15px;
  display: flex;
  align-items: center;
}

.site-icon {
  height: 100%;
  max-height: 35px;
  width: auto;
  margin-right: 10px;
}

.top-banner-text {
  font-size: 1.5em;
  font-weight: bold;
  color: #EB3582;
  margin-left: 20px;
}
